@{
    ViewData["Title"] = "Compare Square Root of Numbers";
}

<div class="text-center">
    <h4 class="display-4">Compare The SquareRoot of Two Numbers</h4>

    
</div><p></p>
<div class='container'>
    @{
        if(ViewBag.Result != null){
            <div style="color: white; background-color: grey; text-align:center; padding: 5px;">
                <p> @ViewBag.Result </p>
            </div><p></p>
        }
    }
    <form role="form" asp-action="Compare" asp-controller="Square" method="POST">
        <div class="form-group" >
            <label for="firstnumber">First Number </label><br>
            <input style="background-color: yellow" type='text' name = "firstnumber" placeholder="Please first number"/><br>
        </div>
        <div class="form-group" >
            <label for="firstnumber">First Number </label><br>
            <input style="background-color: yellow" type='text' name = "secondnumber" placeholder="Please second number"/><br>
        </div>
        <div class="form-group">
            <input type='submit' value="Check" name="submit"  />
        </div>
        
    </form>
</div>